<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.jntalley.parstagram">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ParseApp"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Parstagram"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoadScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".HomeActivity" android:theme="@style/AppThemeNoBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.codepath.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <activity android:name=".CreatePostActivity" />
        <activity android:name=".ProfileActivity"></activity>
    </application>

</manifest>